src/backend/views/login.jade
doctype html
html
	head
		link(href='static/style/login.css', rel='stylesheet')
		script(type='text/javascript', src='static/login.js')

	body
		.content
			.front
				.welcome
				.signin
					form(action='/login', method='POST').signin-box
						.username
							input(type='text', placeholder='Username', name='username').sign-input
						.password
							input(type='text', placeholder='Password', name='password').sign-input
						button(type = 'submit').submit
							| Sign in
				.signup#signup
					form(action='/signup', method='POST').signup-box#signupBox
						h2
							| Not registered yet ? Sign up!
						div
							input(type='text', name='mail', placeholder='Email', autocomplete='off').sign-input#signupMail
							#signupMailValidation.validation
								| Mail must be valid email address, i.e. it should at least contain @!
						div
							input(type='text', name='name', placeholder='Name', autocomplete='off').sign-input#signupName
							#signupNameValidation.validation
								| Name should not be empty!
						div
							input(type='text', name='surname', placeholder='Surname', autocomplete='off').sign-input#signupSurname
							#signupSurnameValidation.validation
								| Surname should not be empty!
						div
							input(type='text', name='username', placeholder='Username', autocomplete='off').sign-input#signupUsername
							#signupUsernameValidation.validation
								| Username is empty or less than 6 characters or in use!
						.password
							input(type='password', name='password', placeholder='Password', autocomplete='off').sign-input#signupPassword
							#signupPasswordValidation.validation
								| Password is empty or less than 6 characters!
						button.submit#signupSubmit
							| Sign in
					.success#signupSuccess
						| You have successfully registered! Now you can log in
		include common/footer.jade

src/static/html/login.html
<!DOCTYPE html>
<html>
<head>
    <link href="../style/login.css" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="front">
            <div class="welcome"></div>
            <div class="signin">
                <form action="#" class="signin-box">
                    <div class="username">
                        <input type="text" placeholder="Username" class="sign-input">
                    </div>
                    <div class="password">
                        <input type="text" placeholder="Password" class="sign-input">
                    </div>
                    <button type="submit" class="submit">Sign in</button>
                </form>
            </div>
            <div class="signup">
                <form action="#" class="signup-box">
                    <h2>
                        Not registered yet?   Sign up!
                    </h2>
                    <div>
                        <input type="text" placeholder="Email" class="sign-input">
                        <div id="signupMailValidation" class="validation">
                            Mail must be valid email address, i.e. it should at least contain @!
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Name" class="sign-input">
                        <div id="signupNameValidation" class="validation">
                            Name should not be empty!
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Surname" class="sign-input">
                        <div id="signupSurnameValidation" class="validation">
                            Surname should not be empty!
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Username" class="sign-input">
                        <div id="signupUsernameValidation" class="validation">
                            Username is empty or less than 6 characters or in use!
                        </div>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Password" class="sign-input">
                        <div id="signupPasswordValidation" class="validation">
                            Password is empty or less than 6 characters!
                        </div>
                    </div>
                    <button type="submit" class="submit">Sign up</button>
                </form>
            </div>
            <div class="success" id="signupSuccess">
                You have successfully registered! Now you can log in
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li class="nodejs-logo"><img src="../i/nodejs-logo.png"></li>
            <li class="html5-logo"><img src="../i/html5_logo.png"></li>
            <li class="ws-logo"><img src="../i/ws_logo.png"></li>
            <li class="css3-logo"><img src="../i/CSS3_logo.png"></li>
            <li class="mocha-logo"><img src="../i/mocha_logo.png"></li>
        </ul>
    </footer>


</body>
</html>
